.App {
}

.links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.linkText {
  text-decoration: none;
  color: black;
}

.content {
  text-align: -webkit-center;
  margin-top: 5rem;
}
